In [12]:
import boto3,os

In [2]:
import pandas as pd

In [3]:
#client access creation
s3client=boto3.client("s3")

In [5]:
# resource access creation
s3=boto3.resource("s3")

In [20]:
# create a bucucket in using python
bucket=s3.create_bucket(Bucket="aroha1prathyusha",CreateBucketConfiguration={'LocationConstraint':'ap-south-1'})

In [21]:
# printing bucket or view  the bucket names
for bucket in s3.buckets.all():
    print(bucket)

s3.Bucket(name='aroha1prathyusha')
s3.Bucket(name='arohaprathyusha')

In [13]:
# view the path and files
for bucket in s3.buckets.all():
    for obj in bucket.objects.all():
        print(os.path.join(obj.bucket_name,obj.key))

arohaprathyusha\june_07_pandas.ipynb

In [14]:
# delect the s3 bucket
bucket=s3.Bucket("example-prathydemo-3")
for key in bucket.objects.all():
    key.delete()
bucket.delete()

{'ResponseMetadata': {'RequestId': 'SBT76GF87H9CVZJ0',
  'HostId': 'XNdDT0N0MWiDLhj0OGNzC6jmt6vLkqno9SYiQKD2JslMyYRkiIMSuZKsv58/p6mTy6HB+sEpWh4=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': 'XNdDT0N0MWiDLhj0OGNzC6jmt6vLkqno9SYiQKD2JslMyYRkiIMSuZKsv58/p6mTy6HB+sEpWh4=',
   'x-amz-request-id': 'SBT76GF87H9CVZJ0',
   'date': 'Thu, 09 Jun 2022 06:28:13 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 0}}

In [15]:
for bucket in s3.buckets.all():
    print(bucket)

s3.Bucket(name='arohaprathyusha')

In [22]:
# access the file using python
obj=s3client.get_object(Bucket='arohaprathyusha',Key='june_07_pandas.ipynb')

In [28]:
obj

{'ResponseMetadata': {'RequestId': 'KC5TWM550T9VTNCF',
  'HostId': '9GCIRaO8TIutMIY3H9AZYyDTOjinMeeI472mRy+GXwq0uuwrtkUcsFhNolDmiolRXl0FRVbIJzw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '9GCIRaO8TIutMIY3H9AZYyDTOjinMeeI472mRy+GXwq0uuwrtkUcsFhNolDmiolRXl0FRVbIJzw=',
   'x-amz-request-id': 'KC5TWM550T9VTNCF',
   'date': 'Thu, 09 Jun 2022 06:57:42 GMT',
   'last-modified': 'Thu, 09 Jun 2022 05:55:40 GMT',
   'etag': '"9b7259a627666902f52bece18b6c22d6"',
   'accept-ranges': 'bytes',
   'content-type': 'binary/octet-stream',
   'server': 'AmazonS3',
   'content-length': '153973'},
  'RetryAttempts': 0},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2022, 6, 9, 5, 55, 40, tzinfo=tzutc()),
 'ContentLength': 153973,
 'ETag': '"9b7259a627666902f52bece18b6c22d6"',
 'ContentType': 'binary/octet-stream',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x1e3a700b250>}

In [27]:
# uploading the file  (jupyter file)
s3.meta.client.upload_file("may_16.ipynb","aroha1prathyusha","may_16.ipynb")

In [30]:
# uploading the csv file 
up=s3.meta.client.upload_file("wethear.csv","aroha1prathyusha","wethear.csv")

In [32]:
# access the csv file
obj=s3client.get_object(Bucket='aroha1prathyusha',Key='wethear.csv')

In [35]:
# read the csv file
pd.read_csv("wethear.csv")

         day  temperature  windsspeed   event
0   1/1/2017         32.0         6.0    rain
1   1/4/2017          NaN         9.0   sunny
2   1/5/2017         28.0         NaN    snow
3   1/6/2017          NaN         7.0     NaN
4   1/7/2017         32.0         NaN    rain
5   1/8/2017          NaN         NaN   sunny
6   1/9/2017          NaN         NaN     NaN
7  1/10/2017         34.0         8.0  cloudy
8  1/11/2017         40.0        12.0   sunny